@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('MQ-general.css');


html, body{
    width: 100%;
    background-color: rgb(241, 241, 241) !important;
}

a{
    text-decoration: none;
    color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'O';
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


header{
    display: flex;
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding: 0px 15%;
    justify-content: space-between;
    align-items: center;
}

div.sites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    color: rgb(202, 202, 202);
    
}

div.sites > span{
    margin: 0 5px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
}

div.sites > span:nth-child(1){
    color: rgb(61, 105, 250);
    border-top: solid 2px transparent;
}

div.sites > span:nth-child(2){
    color: rgb(197, 29, 23);
    border-top: solid 2px transparent;
}

div.sites > span:nth-child(3){
    color: rgb(2, 165, 2);
    border-top: solid 2px transparent;
}

div.sites > span:nth-child(4){
    color: rgb(255, 136, 0);
    border-top: solid 2px transparent;
}

div.sites > span:nth-child(5){
    color: red;
    border-top: solid 2px transparent;
}

div.sites > span:nth-child(6){
    color: rgb(1, 89, 190);
    border-top: solid 2px transparent;
    border-right: none;
}

div.subs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    font-size: small;
}

div.subs a{
    color: grey;
    transition-duration: 0.3s;
}

div.subs button{
    background-color: rgb(228, 228, 228);
    background-color: initial !important;
    border: 0.5px solid rgb(160, 160, 160) !important;
    border-radius: 2px;
    padding: 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2244b6;
    padding: 0.8vw 15%;
}

a.brand{
    color: white;
    font-size: 18pt;
}

nav > button{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 12pt;
    width: 15%;
    align-items: center;
    cursor: pointer;
}

nav > button > i{
    margin-right: 5px;
}

div.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 10px 0px;
    width: 15%;
    border-radius: 2px;
}

div.search button, div.search input {
    background-color: transparent;
    border: none;
    color: white;
}

div.search input{
    width: 90%;
}

div.search button{
    width: 10%;
}

section.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}

div.firstNews{
    display: flex;
    width: 65%;
    justify-content: space-between;
    height: 700px;
}

div.firstNews > div{
    height: 100%;
    width: 49.5%;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
}

div.firstNews > div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.secondNews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent !important;
    border: none !important;
    padding: 0px !important;
}

div.firstNews > div:first-child > div{
    height: 70%;
}

div.firstNews > div:first-child > div > h1{
    margin-bottom: 30px;
    font-size: 28pt;
    line-height: 95%;
    color: #2244b6;
}

div.secondNews > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 49%;
    padding: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

div.secondNews > div:first-child{
    background-image: url('../img/news1.webp');
}

div.secondNews > div:last-child{
    background-image: url('../img/news2.webp');
}

div.firstNews > div:last-child > div > h1{
    line-height: 95%;
    color: white;
}

div.secondNews > div h4{
    color: white;
}


div.otherNews{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 65%;
}

div.haveYouSeen{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 30%;
}

div.haveYouSeen > h4:first-child{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 15px 40px;
    background-color: white;
    border: solid 1px rgb(197, 197, 197);
    color: #333;
    border-radius: 5px;
}

div.news{
    display: flex;
    flex-direction: column;
    width: 68%;
    padding-right: 10px;
    border-bottom: grey;
}

div.notice{
    display: flex;
    justify-items: center;
    padding: 30px 0px;
    border-bottom: solid 1px rgb(197, 197, 197);
}

div.notice > img{
    width: 45%;
}

div.noticeDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 20px;
}

div.noticeDesc > h4, div.noticeDesc > span{
    color: #333;
}

div.noticeDesc > h1{
    color: #2244b6;
    line-height: 90%;
}

div.noticeDesc ul{
    color: rgb(197, 197, 197);
    margin-left: 20px;
    
}

div.noticeDesc li{
    padding: 10px 0;
    font-size: small;
}

span.noticeListItem{
    color: #2244b6 !important;
}

div.noticeDesc > span{
    font-weight: lighter;
    font-size: 10pt;
}

div.noticeBrand{
    padding: 40px 20px;
    border-bottom: solid 1px rgb(197, 197, 197);
}

div.newsCard{
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    align-items: center;
    margin-bottom: 30px;
}

div.newsCard > h4.cardBrand{
    border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 20px;
    width: 100%;
    padding-left: 25px;
}

div.cardContent{
    display: flex;
    flex-direction: column;
    width: 90%;
}

div.sideNews{
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(197, 197, 197);
    align-items: center;
}

div.sideNews > *:nth-child(1){
    width: 75%;
    color: #2244b6;
    font-weight: bold;
}

h4.cardEnd{
    width: 100%;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 12pt;
    color: #2244b6;
    cursor: pointer;
    font-size: 10pt;
}

div.menuBarBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 1s;
}

div.menuBar{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 14%;
    background-color: white;
    overflow-y: scroll;
    padding: 30px 20px;
    font-size: 14pt;
    transition-duration: 1s;
}

a.menuBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: rgb(77, 77, 77);
    font-weight: lighter;
}

a.menuBtn > i{
    font-size: 10pt;
    color: #2244b6;
}